body{
    background-color:rgb(238, 251, 255);
    color: rgb(0, 0, 0);
    width:60% ;
    margin:auto;
}
h1{
font-size:64px ;
font-family:"Jomhuria" ;
font-weight: 130;
color: black;
padding-top:1m;

}

h2{
    font-family:"Jomolhari" ;
    font-size: 24px;
    font-weight: 130;
    color:020071;
    padding-top : 1 ;
    padding-bottom:2 ;
    
}
main{
    font-family: "Inknut Antiqua";
    font-size: 12px; ;
    font-weight: 130;
}
article{
color:#172bdd ;
}
a{
color: red;
font-weight:900;
}
a:hover{

    color: rgb(121, 32, 32);
}


*{
   margin:0;
   padding:0; 
}
#oragne-cat{
float: right;

}
/* means evrething